.homeCardWrapper {
}

.homeCardWrapperReverse {
}

.homeCardCol {
    display: flex;
    flex-direction: column;
}

.homeCard {
    --home-card-border-width: 2px;
    --home-card-outer-radius: 16px;
    --home-card-inner-radius: 13px;

    margin: 16px 0;
    border-radius: var(--home-card-outer-radius);
    box-shadow: var(--ifm-global-shadow-lw);
}

.homeCard > div,
.homeCard div[class^="language-"],
.homeCard div[class^="tabs-container"] {
    border-radius: var(--home-card-outer-radius);
    box-shadow: none;
    margin: 0;
}

.homeCard div[class^="tabs-container"]:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.homeCard div[class^="tabs-container"]:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.homeCardTextCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeCardText h2 {
    line-height: 1.7;
    font-size: 1.6rem;
}

.homeCardTextAction {
    display: inline-flex;
    align-items: center;
}

.homeCardTextActionIcon {
    margin-left: 8px;
    margin-right: 0;
    height: 24px;
    width: 24px;
    transition: all 250ms ease-in-out;
}

.homeCardTextAction:focus .homeCardTextActionIcon,
.homeCardTextAction:hover .homeCardTextActionIcon {
    margin-left: 16px;
    margin-right: -8px;
}

@media (min-width: 996px) {
    .homeCardWrapperReverse {
        flex-direction: row-reverse;
    }

    .homeCard {
        width: 500px;
        max-width: 100%;
    }

    .homeCardWrapperReverse .homeCard {
        margin-left: auto;
    }

    .homeCardText {
        max-width: 500px;
        margin-left: auto;
    }

    .homeCardWrapperReverse .homeCardText {
        margin-left: 0;
    }
}
