.homeCardWrapper {
}

.homeCardWrapperReverse {
}

.homeCardCol {
    display: flex;
    flex-direction: column;
}

.homeCard {
    position: relative;
    margin: 16px 0;
    padding-top: 16px;
    border-radius: 20px;
    box-shadow: var(--ifm-global-shadow-lw);
}

.homeCard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle at top left, var(--ifm-color-primary), var(--ifm-color-accent));
    border-radius: inherit;
    z-index: -1;
    opacity: 0.25;
    transition: all 500ms ease-in-out;
}

.homeCardWrapper:hover .homeCard:before {
    opacity: 1;
}

.homeCard > div {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    box-shadow: none !important;
    margin: 0 !important;
}

.homeCardWrapperReverse .homeCard {
    padding-left: 0;
}

.homeCardWrapperReverse .homeCard > div {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

.homeCardTextCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeCardText h2 {
    line-height: 1.7;
    font-size: 1.6rem;
}

.homeCardTextAction {
    display: inline-flex;
    align-items: center;
}

.homeCardTextActionIcon {
    margin-left: 8px;
    margin-right: 0;
    height: 24px;
    width: 24px;
    transition: all 250ms ease-in-out;
}

.homeCardTextAction:focus .homeCardTextActionIcon,
.homeCardTextAction:hover .homeCardTextActionIcon {
    margin-left: 16px;
    margin-right: -8px;
}

@media (min-width: 996px) {
    .homeCardWrapperReverse {
        flex-direction: row-reverse;
    }

    .homeCard {
        padding-left: 16px;
        width: 500px;
        max-width: 100%;
    }

    .homeCardWrapperReverse .homeCard {
        margin-left: auto;
    }

    .homeCard > div {
        border-top-left-radius: 12px !important;
        border-bottom-left-radius: 0 !important;
    }

    .homeCardWrapperReverse .homeCard {
        padding-right: 16px;
    }

    .homeCardWrapperReverse .homeCard > div {
        border-top-right-radius: 12px !important;
        border-bottom-right-radius: 0 !important;
    }

    .homeCardText {
        max-width: 500px;
        margin-left: auto;
    }

    .homeCardWrapperReverse .homeCardText {
        margin-left: 0;
    }
}
