.heroBanner {
    padding: 4rem 0;
    margin: 0 16px 16px 16px;
    text-align: center;
    position: relative;
    overflow: hidden;
    fill: white;
}

html[data-theme="light"] .heroBanner {
    border-radius: var(--ifm-global-radius);
    fill: var(--ifm-background-surface-color);
    color: var(--ifm-background-surface-color);
    background: radial-gradient(circle at top left, var(--ifm-color-primary) 30%, var(--ifm-color-accent));
    background-size: 150% 150%;
}

html[data-theme="dark"] .heroBanner:before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    height: 75%;
    width: 256px;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--ifm-color-accent) 30%, var(--ifm-color-primary) 60%);
    opacity: 40%;
    transform: translate(-50%, -25%);
    filter: blur(96px);
}

.heroContent {
    position: relative;
    z-index: 1;
}

.heroLogoWrapper {
    position: relative;
}

.heroLogo {
    position: relative;
    height: 128px;
    width: 128px;
    z-index: 1;
    fill: linear-gradient(45deg, var(--ifm-color-accent) 30%, var(--ifm-color-primary));
}

.heroTitle, .heroSubtitle {
    font-family: var(--ifm-font-family-monospace) !important;
}

.heroTitle {
    font-size: 3rem;
}

.heroSubtitle {
    font-size: 1.8rem;
}

.heroButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 996px) {
    .heroLogo {
        height: 96px;
        width: 96px;
    }

    .heroTitle {
        font-size: 2rem;
    }

    .heroSubtitle {
        font-size: 1.2rem;
    }

    .heroBanner {
        padding: 2rem;
    }

    html[data-theme="dark"] .heroBanner:before {
        transform: translate(-50%, -45%);
    }

    .heroButton {
        font-size: 1.1rem;
    }
}
