.heroBanner {
    padding: 4rem 0 0 0;
    margin: 0 16px 16px 16px;
    text-align: center;
}

.heroLogo {
    height: 96px;
    width: 96px;
}

.heroTitle {
    font-size: 86px;
    font-weight: 900;
    letter-spacing: -1.5px;
}

.heroSubtitle {
    font-size: 24px;
    font-weight: bold;
    color: var(--ifm-font-color-base);
}

.heroButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heroButton {
    display: inline-flex;
    align-items: center;
}

.heroButtonArrow {
    margin-left: 8px;
    margin-right: 0;
    height: 24px;
    width: 24px;
    transition: all 250ms ease-in-out;
}

.heroButton:focus .heroButtonArrow,
.heroButton:hover .heroButtonArrow {
    margin-left: 16px;
    margin-right: -8px;
}

@media screen and (max-width: 600px) {
    .heroLogo {
        height: 76px;
        width: 76px;
    }

    .heroTitle {
        font-size: 60px;
    }

    .heroSubtitle {
        font-size: 18px;
    }

    .heroBanner {
        padding: 2rem 0 0 0;
    }

    .heroButton {
        font-size: 1rem;
    }
}
